#pai {
    background-color: #ffa500;
    width: 500px;
    height: 500px;

}
.divB {
    background-color: #90ee90;
    width: 250px;
    height: 250px;
}
.h1_texto {
    color: #FFFF;
    background-color: #FF0000;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}
#pai2 {
    background-color: rgb(173, 216, 230);
    width: 50%;
    height: 540px;
}
.divE {
    background-color: rgb(255, 0, 0);
    width: 1000px;
    height: 250px;
}